{% extends "base.html" %}
{% load static %}

{% block site-title %}
Evrak Listesi
{% endblock site-title %}


{% block site-content %}
<script src="{% static '/js/document.js' %}"></script>
<div class="container">


  <!-- Django Filter Start -->
  <form id="filterForm" method="get" action="{% url 'document-liste' %}">
    <div class="card p-5 mt-5">
      <div class="card-header">Detaylı Arama</div>
      <div class="row justify-content-center align-items-center mt-4 mb-4 mt-md-5 mb-md-5 gy-2">
        <div class="col-sm-6 col-lg-2">
          <label for="id_docno" class="mb-1 text-nowrap">Evrak No</label>
          {{form.docno}}
        </div>
        <div class="col-sm-6 col-lg-2">
          <label for="id_relevantunit" class="mb-1 text-nowrap">İlgili Birim</label>
          {{form.relevantunit}}
        </div>
        <div class="col-sm-6 col-lg-2">
          <label for="id_docdate" class="mb-1 text-nowrap">Evrak Tarihi</label>
          {{form.docdate}}
        </div>
        <div class="col-sm-6 col-lg-2">
          <label for="id_docsubject" class="mb-1 text-nowrap">Evrak Konusu</label>
          {{form.docsubject}}
        </div>
        <div
          class="col-lg-2 d-inline-flex d-lg-inline-block align-items-center justify-content-center align-self-end mt-3">
          <div class="btn-group" role="group" aria-label="Filtreleme İşlemleri">
            <button id="clearFilter" type="button" class="btn btn-secondary">Temizle</button>
            <button type="submit" class="btn btn-success">Filtrele</button>
          </div>
        </div>
      </div>
    </div>

  </form>
  <div class="card mt-5 p-5">
    <div class="table-responsive">
      <table class="table table-striped" id="tablo">
        <!-- Tablo başlıkları -->
        <thead>
          <tr>
            <th class="text-nowrap" scope="col">Evrak No</th>
            <th class="text-nowrap" scope="col">Evrak Tarihi</th>
            <th class="text-nowrap" scope="col">İlgili Birim</th>
            <th class="text-nowrap" scope="col">İlgili Kurum</th>
            <th class="text-nowrap" scope="col">Evrak Konusu</th>
            <th class="text-nowrap" scope="col">Evrak Detayı</th>
            {% if request.user.is_superuser or request.user.isModerator == True %}
            <th class="text-nowrap" scope="col">İşlemler</th>
            {% endif %}
          </tr>
        </thead>
        <!-- Tablo verileri -->
        <tbody>
          {% for document in documents %}
          <tr>
            <td scope="row">{{ document.docno }}</td>
            <td class="text-nowrap">{{ document.docdate }}</td>
            <td>{{ document.relevantunit }}</td>
            <td>{{ document.relevantinstitution }}</td>
            <td>
              <div class="truncate truncate-3-lines">{{ document.docsubject }}</div>
            </td>
            <td>
              <div class="truncate truncate-3-lines">{{ document.detail|safe }}</div>
            </td>
            {% if request.user.is_superuser or request.user.isModerator == True %}
            <td>
              <div class="d-flex flex-column flex-md-row text-center">
                <a href="#" class="mb-2 me-md-3" data-bs-toggle="modal" data-bs-target="#deletealert{{ document.id }}">
                  <i class="fa-solid fa-trash text-danger"></i>
                </a>
                <a href="#" class="mb-2 me-md-3" data-bs-toggle="modal" data-bs-target="#updateModal{{ document.id }}">
                  <i id="modal_open" class="fa-solid fa-pencil"></i>
                </a>
                <a href="#" class="mb-2 me-md-3" data-bs-toggle="modal" data-bs-target="#viewModal{{ document.id }}">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <a href="#" class="mb-2 me-md-3" data-bs-toggle="modal" data-bs-target="#printalert{{ document.id }}">
                  <button class="text-success" onclick="downloadOtherHTMLAsPDF({{ document.id }})"><i class="fa-solid fa-file-pdf "></i></button>
                </a>
              </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if documents.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ documents.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item disabled">
            <span class="page-link">Page {{ documents.number }} of {{ documents.paginator.num_pages }}</span>
          </li>

          {% if documents.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ documents.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ documents.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  <!-- Modals for each report -->
  {% for document in documents %}
  <!-- Modal Delete -->
  <div class="modal fade" id="deletealert{{ document.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Silmek İstediğinizden Emin Misiniz?
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Vazgeç
          </button>
          <a href="{% url 'delete-document' document.id %}"><button type="button"
              class="btn btn-danger">Sil</button></a>
              
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Delete End -->

  <!-- Update Modal -->
  <div class="modal fade" id="updateModal{{ document.id }}" tabindex="-1" role="dialog"
    aria-labelledby="updateModalLabel{{ document.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 900px; max-height: 1500px">
      <div class="modal-content">
        <form method="post" action="{% url 'update-document' document.id %}" class="update-form"
          enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel{{ document.id }}">
              Evrak Güncelle
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for form_id, form in updateForms.items %}
            {% if form_id == document.id %}
            <div class="card">
              <div class="row justify-content-center p-3">

                <div class="col-md-6">
                  <div class="card-header">Evrak Tipi</div>
                  <div class="row justify-content-between p-3">
                    <div class="col-sm-4">
                      <label for="id_incomingdoc" class="form-label">Gelen Evrak</label>
                      {{form.incomingdoc}}
                    </div>
                    <div class="col-sm-4">
                      <label for="id_outgoingdoc" class="form-label">Giden Evrak</label>
                      {{form.outgoingdoc}}
                    </div>
                    <div class="col-sm-4">
                      <label for="id_amount" class="form-label">Tutanak</label>
                      {{form.amount}}
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card-header">Öncelik</div>
                  <div class="row justify-content-between p-3">
                    <div class="col-sm-4">
                      <label for="id_high" class="form-label">Yüksek</label>
                      {{form.high}}
                    </div>
                    <div class="col-sm-4">
                      <label for="id_middle" class="form-label">Orta</label>
                      {{form.middle}}
                    </div>
                    <div class="col-sm-4">
                      <label for="id_low" class="form-label">Düşük</label>
                      {{form.low}}
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="id_docno" class="form-label">Evrak No</label>
                  {{form.docno}}

                </div>

                <div class="col-md-4">
                  <label for="id_docdate" class="form-label">Evrak Tarihi</label>
                  {{form.docdate}}
                </div>


                <div class="col-md-4">
                  <label for="id_doccount" class="form-label">Evrak Sayısı</label>
                  {{form.doccount}}
                </div>

                <div class="row">

                  <div class="col-md-6">
                    <label for="id_relevantunit" class="form-label">İlgili Birim</label>
                    {{form.relevantunit}}
                  </div>

                  <div class="col-md-6">
                    <label for="id_relevantinstitution" class="form-label">İlgili Kurum</label>
                    {{form.relevantinstitution}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="id_docsubject">Evrak Konusu</label>
                    {{form.docsubject}}
                  </div>
                  <div class="col-md-6">
                    <label for="id_user">Formu Dolduran</label>
                    {{form.user}}
                  </div>
                </div>
              </div>


            </div>

            <div class="card-header mt-3">Rapor Detay</div>

            {{ form.detail }}
            <div class="card-header mt-3">Evrak Yükleme</div>
            <div class="form-control mb-3 rounded">
              Şu anki:
              <a href="{{document.file.url}}">{{document.file}}</a> <br>
              <label for="id_file"> Değiştir </label>
              <input type="file" name="file" class="form-control mb-3 rounded" placeholder="Evrak Yükleme" id="id_file">
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Kapat
            </button>
            <button type="submit" class="btn btn-primary">Kaydet</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{% static '/js/tinyhtml.js' %}"></script>
  <!-- Update Modal End -->

  <!-- View Modal -->
  <div class="modal fade" id="viewModal{{ document.id }}" tabindex="-1" role="dialog"
    aria-labelledby="viewModalLabel{{ document.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 900px; max-height: 1500px">
      <div class="modal-content">
        <form id="viewForm{{ document.id }}" class="update-form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel{{ document.id }}">
              Evrak Detayları
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% for form_id, form in updateForms.items %}
            {% if form_id == document.id %}
            <div class="card">
              <div class="row justify-content-center p-3">
                <div class="col-md-6">
                  <div class="card-header">Evrak Tipi</div>
                  <div class="row justify-content-between p-3">
                    <div class="col-sm-4">
                      <label for="id_incomingdoc" class="form-label">Gelen Evrak</label>
                      {{form.incomingdoc}}
                    </div>
                    <div class="col-sm-4">
                      <label for="id_outgoingdoc" class="form-label">Giden Evrak</label>
                      {{form.outgoingdoc}}
                    </div>
                    <div class="col-sm-4">
                      <label for="id_amount" class="form-label">Tutanak</label>
                      {{form.amount}}
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card-header">Öncelik</div>
                  <div class="row justify-content-between p-3">
                    <div class="col-sm-4">
                      <label for="id_high" class="form-label">Yüksek</label>
                      {{form.high}}
                    </div>
                    <div class="col-sm-4">
                      <label for="id_middle" class="form-label">Orta</label>
                      {{form.middle}}
                    </div>
                    <div class="col-sm-4">
                      <label for="id_low" class="form-label">Düşük</label>
                      {{form.low}}
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="id_docno" class="form-label">Evrak No</label>
                  {{form.docno}}

                </div>

                <div class="col-md-4">
                  <label for="id_docdate" class="form-label">Evrak Tarihi</label>
                  {{form.docdate}}
                </div>


                <div class="col-md-4">
                  <label for="id_doccount" class="form-label">Evrak Sayısı</label>
                  {{form.doccount}}
                </div>

                <div class="row">

                  <div class="col-md-6">
                    <label for="id_relevantunit" class="form-label">İlgili Birim</label>
                    {{form.relevantunit}}
                  </div>

                  <div class="col-md-6">
                    <label for="id_relevantinstitution" class="form-label">İlgili Kurum</label>
                    {{form.relevantinstitution}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="id_docsubject">Evrak Konusu</label>
                    {{form.docsubject}}
                  </div>
                  <div class="col-md-6">
                    <label for="id_user">Formu Dolduran</label>
                    {{form.user}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content between mt-3 p-3">
              <div class="col-md-12">
                <div class="card-header mt-3">
                  <label>Rapor Detay</label>
                </div>
                <div id="documentDetail{{ document.id }}" style="background-color: var(--bs-secondary-bg);"
                  class="form-control mb-3 rounded">
                  {{ document.detail|safe }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="card-header mt-3">
                  <label for="">Evrak</label>
                </div>
                <div class="form-control mb-3 rounded">
                  <a href="{{document.file.url}}" target="_blank"> {{document.file}}</a>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Kapat
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- View Modal End -->
  {% endfor %}
</div>

<script>
  $(document).ready(function () {
    // Tüm inputları devre dışı bırak
    {% for document in documents %}
    disableFormFields('viewModal{{ document.id }}');
    $(`#documentDetail{{ document.id }}`).find('p').css('margin', '0')
    {% endfor %}
  });

  function disableFormFields(modalId) {
    $(`#${modalId}`).find('input, select, textarea').prop('disabled', true);
  }
</script>
<script type="text/javascript" src="{% static 'js/clearFilters.js' %}"></script>

{% endblock site-content %}