{% extends "base.html" %} {% load static %} {% block site-title %} Rapor Listesi
{% endblock site-title %} {% block site-content %}
<script src="{% static '/js/document.js' %}"></script>
<div class="container">

  {% for message in messages %}
    {% if message.tags == 'success' %}
        <div class="alert alert-success mt-5" role="alert" id="alertDiv">
          {{ message }}
        </div>
      {% endif %}
      {% if message.tags == 'error' or message.tags == 'warning' %}
        <div class="alert alert-danger mt-5" role="alert" id="alertDiv">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}

  <!-- Django Filter Start -->
  <form id="filterForm" method="get" action="{% url 'rapor-liste' %}" enctype="multipart/form-data">
    <div class="card p-5 mt-5">
      <div class="card-header">Detaylı Arama</div>
      <div class="row justify-content-center align-items-center mt-4 mb-4 mt-md-5 mb-md-5 gy-2">
        <div class=" col-sm-6 col-lg-2">
          <label for="id_title" class="mb-1 text-nowrap">Rapor Başlık</label>
          {{ form.title }}
        </div>
        <div class=" col-sm-6 col-lg-2">
          <label for="id_rapordetail" class="mb-1 text-nowrap">Rapor Açıklama</label>
          {{ form.rapordetail }}
        </div>
        <div class=" col-sm-6 col-lg-2">
          <label for="id_owner" class="mb-1 text-nowrap">Formu Dolduran</label>
          {{ form.owner }}
        </div>
        <div class=" col-sm-6 col-lg-2">
          <label for="id_rapordate" class="mb-1 text-nowrap">Rapor Tarihi</label>
          {{ form.rapordate }}
        </div>
        <div
          class="col-lg-2 d-inline-flex d-lg-inline-block align-items-center justify-content-center align-self-end mt-3">

          <div class="btn-group" role="group" aria-label="Filtreleme İşlemleri">
            <button id="clearFilter" type="button" class="btn btn-secondary">Temizle</button>
            <button type="submit" class="btn btn-success">Filtrele</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Django Filter End -->

  <div class="card mt-5 p-5">
    <div class="table-responsive">
      <table class="table table-striped" id="tablo">
        <!-- Tablo başlıkları -->
        <thead>
          <tr>
            <th class="text-nowrap" scope="col">Rapor Başlık</th>
            <th class="text-nowrap" scope="col">Rapor Açıklama</th>
            <th class="text-nowrap" scope="col">Rapor Tipi</th>
            <th class="text-nowrap" scope="col">Buluntu Yeri</th>
            <th class="text-nowrap" scope="col">Raporu Dolduran</th>
            <th class="text-nowrap" scope="col">Rapor Tarihi</th>
            <th class="text-nowrap" scope="col">Veriyi Giren</th>
            {% if request.user.is_superuser or request.user.isModerator == True %}
            <th class="text-nowrap" scope="col">İşlemler</th>
            {% endif %}
          </tr>
        </thead>
        <!-- Tablo verileri -->
        <tbody>
          {% for rapor in rapors %}
          <tr>
            <td scope="row">{{ rapor.title }}</td>
            <td>
              <div class="truncate truncate-3-lines">{{ rapor.rapordetail|safe }}</div>
            </td>
            <td>{{ rapor.rapor_type }}</td>
            <td>
              <div class="truncate truncate-3-lines">{{ rapor.placebuluntu }}</div>
            </td>
            <td>{{ rapor.owner }}</td>
            <td class="text-nowrap">{{ rapor.rapordate }}</td>
            <td>{{ rapor.user }}</td>
            {% if request.user.is_superuser or request.user.isModerator == True %}
            <td>
              <div class="d-flex flex-column flex-md-row text-center">
                <a href="#" class="mb-2 me-md-3" data-bs-toggle="modal" data-bs-target="#deletealert{{ rapor.id }}">
                  <i class="fa-solid fa-trash text-danger"></i>
                </a>
                <a href="#" class="mb-2 me-md-3" data-bs-toggle="modal" data-bs-target="#updateModal{{ rapor.id }}">
                  <i id="modal_open" class="fa-solid fa-pencil"></i>
                </a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#viewModal{{ rapor.id }}">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <a href="#" class="mb-2 mx-2 me-md-3">
                  <button class="text-success" onclick="downloadOtherHTMLAsPDF({{ rapor.id }})"><i class="fa-solid fa-file-pdf "></i></button>
                </a>
              </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if rapors.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ rapors.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item disabled">
            <span class="page-link">Page {{ rapors.number }} of {{ rapors.paginator.num_pages }}</span>
          </li>

          {% if rapors.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ rapors.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ rapors.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- Modals for each report -->
{% for rapor in rapors %}
<!-- Modal Delete -->
<div class="modal fade" id="deletealert{{ rapor.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Silmek İstediğinizden Emin Misiniz?
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Vazgeç
        </button>
        <a href="{% url 'delete-rapor' rapor.id %}"><button type="button" class="btn btn-danger">Sil</button></a>
      </div>
    </div>
  </div>
</div>
<!-- Modal Delete End -->

<!-- Update Modal -->
<div class="modal fade" id="updateModal{{ rapor.id }}" tabindex="-1" role="dialog"
  aria-labelledby="updateModalLabel{{ rapor.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 900px; max-height: 1500px">
    <div class="modal-content">
      <form method="post" action="{% url 'update-rapor' rapor.id %}" class="update-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel{{ rapor.id }}">
            Rapor Güncelle
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for form_id, form in updateForms.items %}
          {% if form_id == rapor.id %}
          <div class="row justify-content-between mt-3 p-3">
            <div class="col-md-12">
              <div class="d-flex align-items-center mb-4 justify-content-center flex-wrap">
                {% for radio in form.rapor_type %}
                <div class="form-check form-check-inline">
                  {{ radio }}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label for="id_placebuluntu">Buluntu Yeri</label>
                  {{form.placebuluntu}}
                </div>
                <div class="col-md-6">
                  <label for="id_rapordate">Rapor Tarihi</label>
                  {{ form.rapordate }}
                </div>
                <div class="col-md-12">
                  <label for="id_title">Başlık</label>
                  {{form.title}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="id_owner">Formu Dolduran</label>
                  {{form.owner}}
                </div>
                <div class="col-md-12">
                  <label for="id_user">Veri Giren</label>
                  {{form.user}}
                </div>
              </div>
            </div>
          </div>
          <div class="card-header mt-3">
            Rapor Detay
          </div>
          {{form.rapordetail}}
          <div class="card-header mt-3">
            Evrak Yükleme
          </div>
          <div class="form-control mb-3 rounded">
            şu anki:
            <a href="{{rapor.file.url}}">{{rapor.file}}</a> <br>
            <label for="id_files"> Değiştir </label>
            <input type="file" name="file" class="form-control mb-3 rounded" placeholder="Evrak Yükleme" id="id_files">
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Kapat
          </button>
          <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{% static '/js/tinyhtml.js' %}"></script>
<!-- Update Modal End -->

<!-- View Modal -->
<div class="modal fade" id="viewModal{{ rapor.id }}" tabindex="-1" role="dialog"
  aria-labelledby="viewModalLabel{{ rapor.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 900px; max-height: 1500px">
    <div class="modal-content">
      <form id="viewForm{{ rapor.id }}" class="update-form" enctype="multipart/form-data">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel{{ rapor.id }}">
            Rapor Detayları
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% for form_id, form in updateForms.items %}
          {% if form_id == rapor.id %}
          <div class="row justify-content-between p-3 pt-0">
            <div class="col-md-12">
              <div class="d-flex align-items-center justify-content-center flex-wrap mb-4">
                {% for radio in form.rapor_type %}
                <div class="form-check form-check-inline">
                  {{ radio }}
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <label for="id_placebuluntu">Buluntu Yeri</label>
                  {{form.placebuluntu}}
                </div>
                <div class="col-md-6">
                  <label for="id_rapordate">Rapor Tarihi</label>
                  {{ form.rapordate }}
                </div>
                <div class="col-md-12">
                  <label for="id_title">Başlık</label>
                  {{form.title}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <label for="id_owner">Formu Dolduran</label>
                  {{form.owner}}
                </div>
                <div class="col-md-12">
                  <label for="id_user">Veri Giren</label>
                  {{form.user}}
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-between mt-3 p-3">
            <div class="col-md-12">
              <div class="card-header mt-3">
                <label for="">Rapor Detay</label>
              </div>
              <div id="raporDetail{{ rapor.id }}" style="background-color: var(--bs-secondary-bg);" class="form-control mb-3 rounded">
                {{ rapor.rapordetail|safe }}
              </div>
            </div>
            <div class="col-md-12">
              <div class="card-header mt-3">
                <label for="">Evrak</label>
              </div>
              <div class="form-control mb-3 rounded">
                <a href="{{rapor.file.url}}" target="_blank">{{rapor.file}}</a>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Kapat
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- View Modal End -->
{% endfor %}
</div>

<script>
  $(document).ready(function () {
    // Tüm inputları devre dışı bırak
    {% for rapor in rapors %}
      disableFormFields('viewModal{{ rapor.id }}');
      $(`#raporDetail{{ rapor.id }}`).find('p').css('margin', '0')
    {% endfor %}
  });

  function disableFormFields(modalId) {
    $(`#${modalId}`).find('input, select, textarea').prop('disabled', true);
  }
</script>
<script type="text/javascript" src="{% static 'js/clearFilters.js' %}"></script>

{% endblock site-content %}