<div class="row">

    <div class="col-4">
        <label for="{{form.piece.auto_id}}">{{form.piece.label}}</label>
        {{form.piece}}
    </div>


    <div class="col-4">
        <label for="{{form.status.auto_id}}">{{form.status.label}}</label>
        {{form.status}}
    </div>


    <div class="col-4">
        <label for="{{form.type.auto_id}}">{{form.type.label}}</label>
        {{form.type}}
    </div>
</div>


<div class="card-header mt-3 mb-3">Diğer Bilgiler</div>
<hr>

<div class="row p-1">

       
        <div>
            <label for="{{form.amount.auto_id}}">{{form.amount.label}}</label>
            {{form.amount}}
        </div>

       <div>
        <label for="{{form.defination.auto_id}}">{{form.defination.label}}</label>
        {{form.defination}}
       </div>


    </div>




