<div class="row">

    <div class="col-6">
        <label for="{{form.piece.auto_id}}">{{form.piece.label}}</label>
        {{form.piece}}
    </div>


    <div class="col-6">
        <label for="{{form.status.auto_id}}">{{form.status.label}}</label>
        {{form.status}}
    </div>

</div>


<div class="card-header mt-3 mb-3">Ölçüler</div>
<hr>


<div class="row text-center">

<div class="col-4 align-self-end">
    <label for="{{form.amount.auto_id}}">{{form.amount.label}}</label>
    {{form.amount}}
</div>


<div class="col-4">
    <label for="{{form.flotasyonBefore.auto_id}}">{{form.flotasyonBefore.label}}</label>
    {{form.flotasyonBefore}}
</div>


<div class="col-4">
    <label for="{{form.flotasyonAfter.auto_id}}">{{form.flotasyonAfter.label}}</label>
    {{form.flotasyonAfter}}
</div>

</div>


<div class="card-header mt-3 mb-3">Tanım</div>
<hr>

<label for="{{form.defination.auto_id}}">{{form.defination.label}}</label>
{{form.defination}}