{% extends "base.html" %}
{% load static %}



{% block site-content %}
  
   

    <div class="mt-3" style="width: 90%; margin: auto;">

    {% if errors %}
      
    <div class="card mb-3">

        <div class="card-header">
          Form Hataları
        </div>


        <div class="row p-3">

        {% for form_name, form_errors in errors.items %}

        {% if form_errors %}
            
          <p>{{ form_name }} Hataları:</p>
          
            {% for field_name, error_tag in form_errors.items %}
              
                <li>{{field_name}}: <a href="#id_{{field_name}}">{{error_tag}}</a> </li>
         
            {% endfor %}

        {% endif %}
        
        {% endfor %}
      
      </div>
  
    </div>

    {% endif %}

  
    <form id="buluntuForm" action="{% url 'set-buluntu' %}" method="post" enctype="multipart/form-data">
    
    <div id="ek-modal"></div>

    <div class="card" id="genel-buluntu">

        <div class="card-header">
          Buluntu Kayıt Formu Genel Bilgiler
        </div>
        
        
        <div class="row p-3">
      
        <div class="col-md-6">
          <label for="id_year" class="form-label">Tavşanlı Hoyuk Yıl Bilgisi</label>
          {{form.year}}
        </div>

        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Buluntu Tarihi</label>
          {{form.date}}
        </div>

        <div class="col-md-2">
          <label for="id_plankareX" class="form-label">Plankare X</label>
          {{form.plankareX}}

        </div>

        
        <div class="col-md-2">
            <label for="id_plankareY" class="form-label">Plankare Y</label>
            {{form.plankareY}}
  
          </div>


          
        <div class="col-md-2">
            <label for="id_plankareNo" class="form-label">Plankare No Sonuç</label>
            {{form.plankareNo}}
          </div>


          <div class="col-md-3">
            <label for="id_gridX" class="form-label">Grid X</label>
            {{form.gridX}}
  
          </div>

          <div class="col-md-3">
            <label for="id_gridY" class="form-label">Grid Y</label>
            {{form.gridY}}
  
          </div>


          <div class="row">

            <div class="col-md-3">
              <label for="id_no" class="form-label">Buluntu No</label>
              {{form.no}}
            </div>

            <div class="col-md-3">
              <label for="id_secondaryNo" class="form-label">Küçük Buluntu No</label>
              {{form.secondaryNo}}
            </div>

            <div class="col-md-3">
              <label for="id_noResult" class="form-label">Buluntu No Sonuç</label>
              {{form.noResult}}
            </div>
            

            <div class="col-md-3">
              <label for="{{form.type.auto_id}}" class="form-label">Buluntu Türü</label>
              {{form.type}}
            </div>
            
          </div>


          <div class="col-md-3">
            <label for="id_nivo" class="form-label">Açılış Nivosu</label>
            {{form.nivo}}
  
          </div>
  
          
          <div class="col-md-3">
              <label for="id_nivo_h" class="form-label">Açılış Nivosu H</label>
              {{form.nivo_h}}
    
            </div>
  
  
            
          <div class="col-md-3">
              <label for="id_shut_nivo" class="form-label">Kapanış Nivosu</label>
              {{form.shut_nivo}}
            </div>
  
  
            <div class="col-md-3">
              <label for="id_shut_nivo_h" class="form-label">Kapanış Nivosu H</label>
              {{form.shut_nivo_h}}
    
            </div>
  

            <div class="row justify-content-around">

            <div class="col-md-3">
                <label for="id_kor_x" class="form-label">Kordinat X</label>
                {{form.kor_x}}
      
            </div>


            <div class="col-md-3">
                <label for="id_kor_y" class="form-label">Kordinat Y</label>
                {{form.kor_y}}
            </div>

            <div class="col-md-3">
                <label for="id_kor_h" class="form-label">Kordinat H</label>
                {{form.kor_h}}
            </div>
        
          </div>

       
    
         <div class="col-md-6">
                <label for="id_area" class="form-label">Buluntu Kova Alanı</label>
                {{form.area}}

   
            
          </div>

     
          <div class="col-md-6">

            <div class="row mt-4" style="height: 100%;">

              <div class="col-12">

              <div class="input-group">
                <input id="id_palet" class="form-control form-control-color" type="color">

                <div style="width: 90%;">
                  {{form.colour}}
                </div>
          
              </div>


            </div>
            </div>
            
          </div>
    
          <div class="col-md-3">
            <label for="id_layer_count" class="form-label">Tabaka Sayı</label>
            {{form.layer_count}}
          </div>

          <div class="col-md-3">
            <label for="id_layer_letter" class="form-label">Tabaka Harf</label>
            {{form.layer_letter}}
          </div>


          <div class="col-md-3">
            <label for="id_phase" class="form-label">Evre</label>
            {{form.phase}}
          </div>

          <div class="col-md-3">
            <label for="id_period" class="form-label">Dönem</label>
            {{form.period}}
          </div>
        
      </div>


    </div>


    <div class="card mt-3">

      <div class="card-header">
        Genel Tanimlamalar
      </div>

        <div class="instruactionElements p-3">

          <div>
            
            <label for="{{form.definition.auto_id}}">{{form.definition.label}}</label>
            {{form.definition}}
          </div>
          
          <div>

            <label for="{{form.description.auto_id}}">{{form.description.label}}</label>
            {{form.description}}
          </div>
      

          <div class="additional-element-container">

            <div>

              <label for="{{form.inventoryNo.auto_id}}">{{form.inventoryNo.label}}</label>
              {{form.inventoryNo}}
            </div>

            <div>
              <label for="{{form.pieceNo.auto_id}}">{{form.pieceNo.label}}</label>
              {{form.pieceNo}}
            </div>

            <div>
              <label for="{{form.drawNo.auto_id}}">{{form.drawNo.label}}</label>
              {{form.drawNo}}
            </div>

          </div>
   

          <div class="ms-1">
            <label for="{{form.inventories.auto_id}}">{{form.inventories.label}}</label>
            {{form.inventories}}
          </div>

        </div>

    </div>



    <div class="card mt-3">

      <div class="card-header">
         Görseller / Fotoğraflar
      </div>


      <div class="row p-3">

        <div class="col-12 d-md-flex" id="imageElements">

            <div class="m-2">
              <label for="{{id_form.eskiz}}">Eskiz</label>
              {{form.eskiz}}
            </div>
    
            <div class="m-2">
              <label for="{{id_form.picture}}">Fotoğraf</label>
              {{form.picture}}
            </div>
        

            <div class="m-2">
              <label for="{{id_form.draw}}">Çizim</label>
              {{form.draw}}
            </div>
  

            <div class="m-2">
              <label for="{{id_form.orto}}">Orto Foto</label>
              {{form.orto}}
            </div>
      

        </div>

      </div>


    </div>


    <div class="card mt-3">

      <div class="card-header">
         Küçük Buluntu
      </div>


      <div class="row p-3">

        <div class="col-12 col-md-3">

 
        
            <div>

              <label for="{{form.buluntuForms.auto_id}}">Küçük Buluntu Formu</label>


              <select required name="buluntuForms" id="id_buluntuForms">
                
                <option selected>---</option>
                {% for value in form.buluntuForms %}
              
                {{value}}
                
                {% endfor %}

              </select>
              


            </div>
         



            <div>
              <label for="{{form.filledBy.auto_id}}">{{form.filledBy.label}}</label>
              {{form.filledBy}}
           </div>


            <div>
              <label for="id_processedBy">Veri Giren</label>
              <input type="text" readonly name="id_processedBy" value="{{request.user.username}}">
           </div>

           <div>
              <button class="btn btn-success" type="submit">Oluştur</button>
           </div>
        </div>


      </div>


    </div>

    {% csrf_token %}
   </form>

  
</div>



<script src="{% static '/js/buluntu.js' %}"></script>
<script src="{% static '/js/imagePreview.js' %}"></script>
{% endblock site-content %}