<nav class="navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'dashboard' %}">Tavşanlı Höyük 2023</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="w-100 navbar-nav mb-2 mt-2 m-xxl-0 justify-content-around" id="ul-items">

                <li class="nav-item mt-3 mb-3 m-lg-0">

                    <form action="">


                    <div class="input-group search-bar">

                        <input type="search" name="ara" class="form-control" style="margin-bottom: 0 !important;">
                        <button class="btn btn-outline-secondary" type="submit">Ara</button>

                    </div>

                     </form>

                </li>

                <li class="nav-item">
                    <a class="nav-link
                     {% if request.path == '/dashboard' %}
                      active
                    {% endif %}" aria-current="page" href="{% url 'dashboard' %}"><i class="fa-solid fa-house"></i>
                    Anasayfa
                    </a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path == '' %}
              active
            {% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="fa-solid fa-thumbtack"></i> Buluntu</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'set-buluntu' %}"> Buluntu Ekle</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"> Buluntu Listele</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"> Envanter Listele</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"> Etütlük Listele</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"> Analiz Listele</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path == '' %}
              active
            {% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="fa-solid fa-thumbtack"></i> Rapor</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'create-rapor' %}"> Rapor Ekle</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'rapor-liste' %}"> Rapor Listele</a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path == '' %}
              active
            {% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="fa-solid fa-thumbtack"></i> Evrak Yönetimi</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'set-document' %}"> Evrak Ekle</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'document-liste' %}"> Evrak Listele</a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path == '' %}
                         active
                    {% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="fa-solid fa-thumbtack"></i> Demirbaş</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'set-fixture' %}"> Demirbaş Ekle</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'fixture-liste' %}"> Demirbaş Listele</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if request.path == '' %}
                        active
                    {% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="fa-solid fa-thumbtack"></i> İstatistik</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#"> İstatistik Oluştur</a>
                        </li>
                    </ul>
                </li>
                <div class="ms-1">
                    <button class="btn btn-outline-success" id="darkModeToggle"><i class="fa-solid fa-moon"></i> / <i
                            class="fa-solid fa-sun"></i></button>
                </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Oturum</a>

                    <ul class="dropdown-menu">

                        {% if request.user.is_superuser %}
                        <li>
                            <a class="dropdown-item" href="/admin"><i class="fa-solid fa-calculator"></i> <span>Yönetim Paneli</span> </a>
                        </li>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item text-danger" href="#">Çıkış Yap</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>





            </ul>


        </div>

    </div>

</nav>